@import './utility.less';

.analytics-container {
  padding: 15px 25px;
  .border-white;
  .bg-white;
  .br-4px;
  .ant-tabs-tab {
    .text-regular;
  }
  .ant-tabs-tab-active {
    .text-medium;
  }
  .checkbox-container {
    margin-top: auto;
    height: 32px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  .btn-container {
    margin-top: auto;
    .d-flex;
    justify-content: end;
    .arrow-btn {
      width: fit-content;
      padding: 8px 22px;
      align-items: center;
      .d-flex;
    }
  }
}

