@import './variables.less';
@import './utility.less';

.touchdown-math {
  background-color: #fff;
  .equation {
    .label-name {
      width: 154px;
      .d-flex;
      .text-capitalize;
      .font-alegreya;
      .fw-500;
      .l-22;
      .fs-20;
      margin-left: 0px;
    }

    .equation-form {
      .ant-row {
        // border: 1px solid black;
        display: flex;
        align-items: center;
      }
      .ant-col:nth-child(n + 2) {
        display: flex;
        align-items: center;
      }
      .ant-form-item-control-input {
        width: 70px;
        // margin-top: 23px;
      }
      .ant-form-item {
        margin-bottom: 23px;
        margin-top: 18px;
      }
      .ant-input {
        padding: 8px 12px;
        &:focus {
          .box-shadow;
        }
      }
      span {
        color: var(--character-title-85, rgba(0, 0, 0, 0.85));
        .text-regular;
        font-size: 18px;
        .text-capitalize;
      }
      .ant-btn {
        width: 140px;
        height: auto;
        padding: 8px 15px;
        margin-bottom: 0px;
        span {
          color: #fff;
        }
      }
    }
  }
  .calculator {
    .font-alegreya;
    .fs-20;
    .fw-500;
    .l-28;
    margin: 44px 26px 64px 0px;

    .calc-title {
      color: #212121;
      .font-alegreya;
      .text-h4;
      font-style: normal;
    }
    .ant-form-item {
      margin-bottom: 0px;
    }
    .calc-container {
      margin-top: 7px;
      border-radius: 4px;
      border: 1px solid @color-border-white;
      background: #fffefb;
      padding: 20px 22px 33px 26px;

      .ant-col .ant-form-item-label {
        .font-alegreya;
        .fs-14;
        .l-20;
        .fw-400;
        color: @color-black-100;
        padding: 0px;
      }

      .ant-form-item-control {
        margin-top: 6px;
      }
      .td-calc-row-1,
      .td-calc-row-2 {
        .d-flex;
        gap: 12px;
      }
      .ant-col {
        padding: 0px !important;
      }
      .ant-row {
        margin: 0px !important;
      }
      .td-calc-row-2 {
        margin-top: 24px !important;
      }
      .td-calc-row-1 {
        .ant-form-item-control {
          height: 61px;
        }
      }
      .ant-input-affix-wrapper {
        border: 1px solid #d4d4d4;
        padding: 8px 12px;

        .ant-input {
          .fw-400;
          font-size: 16px !important;
        }
      }
      .ant-input-affix-wrapper-focused {
        .box-shadow !important;
      }
      .ant-input-disabled {
        color: #121212;
      }
      .val-fill {
        border-radius: 2px;
        border: 1px solid @color-primary-100;
        background: @color-white;
        .ant-input-prefix {
          color: #121212;
        }
      }
      .val-not-filled {
        .ant-input-prefix {
          color: #8c8c8c;
        }
      }
    }
  }
  .ant-col .ant-col-5 .row-1-col-2 {
    padding-left: 0px;
  }
}

