@import './variables.less';
@import './utility.less';

.ant-btn-icon {
  color: @color-white;
}
.ant-input-search .ant-input-search-button {
  border-color: @color-primary !important;

  &:hover {
    border-color: unset;
  }
}

